.dashboard {
    max-width: 1100px;
    margin: 0 auto;
    padding: .5rem;
}


.header-button{
    background-color: #1e1e2e;
    border: 1px solid #2a2a3d;
    border-radius: 12px;
    padding: .5rem;
}

.dashboard-header{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.hover-scale{
    transition: transform .1s ease-in-out;
}
.hover-scale:hover{
    transform: scale(1.1);
    background-color: #171720;
}

.day{
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.lower-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    justify-content: center;
}

.lower-button{
    background-color: #1e1e2e00;
    padding: .5rem;
    border: 1px solid #2a2a3d00;
    margin-top: .5rem;
    border-bottom: 2px solid #646464;
    font-size: .75rem;
    transition: all .2s ease;
}
.lower-button:hover{
    border-bottom: 2px solid #534AB7;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.dashboard-title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #ffffff;
}

.workout-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 16px;
}

.workout-card {
    background: #090e1d;
    border: 1px solid #0e0e14;
    border-radius: 4px;
    padding: 1.25rem;
    
}

.workout-exercise {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 1rem 0;
    text-transform: capitalize;
}

.workout-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.stat {
    background: #00000041;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;

    transition: all .2s ease;
}
.stat-value {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.stat-label {
    font-size: 11px;
    color: #6b6b8a;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


.form-text{
    background-color: #1e1e2e;
    border: 1px solid #2a2a3d;
    border-radius: 12px;
    padding: .5rem;
    border-left: 4px solid #534AB7;
}

.history-section{
    margin-top: 3rem;
}

.exit-container{
    position: fixed;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
}

.exit-button{
    height: 70vh;
    width: 4rem;

    background-color: transparent;
    border: 10px double #7a7676;
    transition: background-color .2s ease, color .2s ease;
    border-radius: 100px;
    color: #534AB7;
    font-size: 1.5rem;
    font-family:inherit;
}

.exit-button:hover{
    background-color: #534AB7;
    color: #100b27; 
    border: 2px solid #534AB7;
}

.no-workout{
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin: 0;
    color: #84828d;
        
    margin-top: 5rem;

}

.nw-logout{
    background: transparent;
    border: none;
    border-bottom: 1px solid #534AB7;
    border-radius: 0;
    color: #e0e0ff;
    font-size: 1rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translateY();

}

.nw-add{
    background: transparent;
    border: none;
    border-bottom: 1px solid #534AB7;
    border-radius: 0;
    color: #e0e0ff;
    font-size: 1rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translateY();
}


.nw-logout:hover{
    color: #ffffff;
    transform: translateY(-3px);

}

.nw-add:hover{
    color: #ffffff;
    transform: translateY(-3px);
}

.top-button{
    background-color: #00000000;
    border: #00000000;
    border-bottom: 2px solid #534AB7;
    transition: all .2s ease;
}

.top-button:hover{
    border-bottom: 6px double #534AB7;
    padding-bottom: 1rem;
}


